@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: "Lexend Deca", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: "Big Shoulders Display", sans-serif; */

:root {
    --cor1: hsl(31, 77%, 52%);
    --cor2: hsl(184, 100%, 22%);
    --cor3: hsl(179, 100%, 13%);
    --cor4: hsla(0, 0%, 100%, 0.75);
    --cor5: hsl(0, 0%, 95%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 750px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
}

.sedans-type {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    border-radius: 8px 0px 0px 8px;
    width: 33.4%;
    padding: 40px;
    gap: 60px;
}

.sedans-type > a {
    color: var(--cor1);
    background-color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    
}

.sedans-type > a:hover {
    color: white;
    background-color: var(--cor1);
    border-color: white;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid white;
}

.conteudo-sedans {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suvs-type {
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    padding: 40px;
    gap: 60px;
    width: 33.3%;
}

.suvs-type > a {
    color: var(--cor2);
    background-color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
}

.suvs-type > a:hover {
    color: white;
    background-color: var(--cor2);
    border-color: white;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid white;
}

.conteudo-suvs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-suvs > p {
    width: 98%;
}

.luxury-type {
    display: flex;
    flex-direction: column;
    background-color: var(--cor3);
    border-radius: 0px 8px 8px 0px;
    padding: 40px;
    gap: 60px;
    width: 33.3%;
}

.luxury-type > a {
    color: var(--cor3);
    background-color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
}

.luxury-type > a:hover {
    color: white;
    background-color: var(--cor3);
    border-color: white;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid white;
}

.conteudo-luxury {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-luxury > p {
    width: 100%;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    color: var(--cor5);
    width: 100%;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--cor4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    width: 90%;
}

img {
    width: 50px;
}

@media (max-width: 670px) {
    .card {
        flex-direction: column;
        width: 300px;
        height: 100vh;
        padding: 15px;
        box-shadow: none;
    }

    .sedans-type {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        gap: 20px;
    }

    .conteudo-sedans > p {
        width: 98%;
    }

    .suvs-type {
        width: 100%;
        gap: 20px;
    }

    .luxury-type {
        width: 100%;
        border-radius: 0px 0px 8px 8px;
        gap: 20px;
    }
}

